mixin form-input(title, type, placeholder, error_message, value, isToggleBtn)
    .form-group(class=error_message ? 'is-invalid' : '')(class=isToggleBtn ? 'has-toggle' : '')
        label= title
        if type == 'textarea'
            textarea.form-control(placeholder=placeholder ? placeholder : '', required, value=value ? value : '')
        else
            input.form-control(type=type, placeholder=placeholder ? placeholder : '', required, value=value ? value : '')
    if error_message 
        div.invalid-feedback= error_message
    if isToggleBtn
        button.btn.btn-primary.btn-toggle-flight(type="button")
            span.icon-sort
