mixin form-input(title, type, placeholder, error_message, value, isToggleBtn, options = [], name)
    .form-group(class={'is-invalid': error_message, 'has-toggle': isToggleBtn})
        label= title
        if type == 'textarea'
            textarea.form-control(placeholder=placeholder ? placeholder : '', required, value=value ? value : '')
        else if type == 'select'
            select.form-control(required)
                each option in options
                    option(value=option)= option
        else
            input.form-control(name=name ? name : '', type=type, placeholder=placeholder ? placeholder : '', required, value=value ? value : '')
    if error_message 
        div.invalid-feedback= error_message
    if isToggleBtn
        button.btn.btn-primary.btn-toggle-flight(type="button", data-from-element="#flight-from", data-to-element="#flight-to")
            span.icon-sort
