.tcd__detail.col-12.col-lg-9
    h2!= tour_title
    .tcd__detail-reviews
        .tcd__reviews
            strong.reviews-score.excellent= tour_score
            .reviews-info
                p= tour_text
                span= tour_reviews
        .tcd__detail-reviews-info
            p= tour_nights
            p= tour_ages