.tcd__small-banner
    .container
        .tcd__small-banner-wrapper
            h1= detail_title
            .tcd__small-banner-path
                .tcd__small-banner-point.start
                    p= detail_start
                    span.icon-maps-and-flags
                    p= detail_start_value
                .tcd__small-banner-point.process
                    p= detail_stop
                    span
                    p= detail_stop_value
                .tcd__small-banner-point.end
                    p= detail_end
                    span.icon-flag
                    p= detail_end_value