.tcd__advs
    .container
        .tcd__advs-slider
            .tcd__advs-wrapper
                each i in [0, 1, 2, 3]
                    .tcd__advs-block
                        h3!= promo_title
                        span.tcd__advs-separator= promo_separator
                    .tcd__advs-block
                        h3(data-toggle="tooltip", data-placement="top", title=promo_location1)
                            span.text= promo_location1
                            span.price= promo_location1_price
                            small= dong
                        .tcd__advs-btn
                            button.btn.btn-primary.small-light(type="button")= promo_btn
                        span.tcd__advs-separator= promo_separator
                    .tcd__advs-block
                        h3(data-toggle="tooltip", data-placement="top", title=promo_location2)
                            span.text= promo_location2
                            span.price= promo_location2_price
                            small= dong
                        .tcd__advs-btn
                            button.btn.btn-primary.small-light(type="button")= promo_btn
        