include ../../mixins/_mixins

.tcd__modify-search
    .container
        .tcd__search-form-tab-content.active
            .tcd__search-form-wrapper
                ul.tcd__search-form-tour-introduction
                    h3= ms_title
                    p= ms_sub
                form.tcd__search-form-tour-form(action="#", method="POST")
                    .tcd__search-form-field.have-dropdown
                        +form-input(ms_at, "text", '', '', ms_location)
                        .tcd__search-form-dropdown-results
                            .arrow-icon
                            each val, icon in {'maps-and-flags': result_location, 'appartment': result_city, 'takeoff': result_airport, 'departures': result_airport2}
                                a.tcd__search-form-dropdown-item(href="#")
                                    span(class=icon ? 'icon-' + icon : '')
                                    span= val
                    .tcd__search-form-field.single-daterange-picker
                        +form-input(ms_departure, "text", '', '', ms_date)
                    .tcd__search-form-field.have-dropdown
                        +form-input(passenger, "text", '', '', passenger_info)
                        .tcd__search-form-dropdown-results
                            .arrow-icon
                            .tcd__search-form-ticket-types
                                h4= ticket_type
                                ul
                                    each ticket, idx in {0: tickets[0], 1: tickets[1]}
                                        li(class=idx == 0 ? 'active' : '')
                                            a(href="#")= ticket
                            .tcd__search-form-passengers
                                h4= passenger
                                .tcd__search-form-passengers-wrapper
                                    each val, age in {"(18+)": paxs[0], "(12-17)": paxs[1],"(2-11)": paxs[2],"(<2)": paxs[3]}
                                        .tcd__search-form-pax
                                            p
                                                span= val
                                                small= age
                                            .tcd__search-form-pax-selector
                                                button.btn.btn-primary.minus(type="button")= minus
                                                p= zero
                                                button.btn.btn-primary.plus(type="button")= plus
                    .tcd__search-form-btn
                        button.btn.btn-primary.tcd__search-btn(type="submit")= ms_btn
            .tcd__adv-slider.initializing
                each i in [0, 1, 2, 3]
                    .tcd__adv
                        h4= adv_title
                        .tcd__adv-content
                            .tcd__adv-discount
                                p
                                    span= minus
                                    span= adv_discount
                                    span= percent
                            .tcd__adv-info
                                ul
                                    each util in adv_utils
                                        li= util
                                h3.tcd__adv-price= adv_price
                                    span= dong
                                    span= adv_per
                                button.btn.btn-primary.small-light(type="button")= adv_btn



