include ../../mixins/_mixins

.tcd__modify-search
    .container
        .tcd__search-form-tab-content.active
            .tcd__search-form-wrapper
                ul.tcd__search-form-tour-introduction
                    h3= ms_title
                    p= ms_sub
                form.tcd__search-form-tour-form(action="#", method="POST")
                    .tcd__search-form-field.big-field.have-dropdown
                        +form-input(ms_at, "text", '', '', ms_location)
                        .tcd__search-form-dropdown-results
                            .arrow-icon
                            each val, icon in {'maps-and-flags': result_location, 'appartment': result_city, 'takeoff': result_airport, 'departures': result_airport2}
                                a.tcd__search-form-dropdown-item(href="#")
                                    span(class=icon ? 'icon-' + icon : '')
                                    span= val
                    .tcd__search-form-field.single-daterange-picker
                        +form-input(ms_departure, "text", '', '', ms_date)
                    .tcd__search-form-btn
                        button.btn.btn-primary.tcd__search-btn(type="submit")= ms_btn
            .tcd__adv
                h4= adv_title
                .tcd__adv-content
                    .tcd__adv-discount
                        p
                            span= minus
                            span= adv_discount
                            span= percent
                    .tcd__adv-info
                        ul
                            each util in adv_utils
                                li= util
                        h3.tcd__adv-price= adv_price
                            span= dong
                            span= adv_per
                        button.btn.btn-primary(type="button")= adv_btn



