.tcd__results.col-12.col-lg-9
    .tcd__results-title
        button.navbar-toggler(type="button")
            span.navbar-toggler-icon.black
        h1=result_title
            span= result_sub
    .tcd__results-head
        p= result_found
        .sort-options
            select.form-control
                each option in sort_options
                    option= option
    .tcd__results-list
        each i in [0, 1, 2, 3, 4]
            .tcd__results-card
                .tcd__results-card-thumbnail
                    .tcd__results-card-thumb(style="background-image: url(img/slide-2.jpg)")
                    .tcd__results-card-map(id="small-map-tour-" + i, data-toggle="modal", data-target="#map-tour")
                .tcd__results-card-info
                    h3.tcd__results-card-title= item_title
                    .tcd__results-card-stars
                        each val in [1, 2, 3, 4]
                            img(src="img/svg/star.svg", alt="Star")
                    .tcd__results-card-reviews
                        strong.reviews-score(class=item_score_classes[i])= item_scores[i]
                        .reviews-info
                            p= item_texts[i]
                            span= item_reviews[i]
                    .tcd__results-card-comment
                        p= item_comment
                    .tcd__results-card-detail-info
                        .detail-info-label
                            each label in item_labels
                                p= label
                        .detail-info-text
                            each val in item_values
                                p= val
                .tcd__results-card-price-info
                    span.tcd__results-card-discount= item_discount
                    .tcd__results-card-price
                        p= item_old_price
                        h3= item_price
                    .tcd__results-card-duration
                        h3= item_days
                        p= item_price_per_day
                    .tcd__results-card-included
                        p
                            span.icon-checked
                            span= item_included
                        p
                            span.icon-checked
                            span= item_included2
                    .tcd__results-card-btn
                        button.btn.btn-primary(type="button")= item_btn
        .tcd__pagination
            ul
                li.tcd__pagination-prev-all
                    a(href="#")
                        each i in [0, 1]
                            span.icon-right-thin-chevron
                li.tcd__pagination-prev
                    a(href="#")
                        span.icon-right-thin-chevron
                each i in [0, 1, 2, 3]
                    li(class=(i == 0) ? 'active' : '')
                        a(href="#")
                            span= pagination[i]
                li.tcd__pagination-next
                        a(href="#")
                            span.icon-right-thin-chevron
                li.tcd__pagination-next-all
                    a(href="#")
                        each i in [0, 1]
                            span.icon-right-thin-chevron
#map-tour.tcd__modal.tcd__map-modal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title= item_title
                button(type="button", data-dismiss="modal")
                    span.icon-cancel-music
            .modal-body
                #map-tour-map
            .modal-footer
                p!= modal_description
                button.btn.btn-primary(type="button", data-dismiss="modal")= promo_btn
        